.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    gap: 3rem;
    border:   cornflowerblue;
    border-radius: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px cornflowerblue;
    box-sizing: border-box;
}

.links{
    display: flex;
    justify-content: start;
    gap: 1rem;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 6px 3px 7px cornflowerblue;
    color: white;
    transform: scale(1);
    transition: transform 0.7s ease;
}

a:hover{
    color: cornflowerblue;
    transform: scale(1.3);
}



