body {
    background-image: url('../images/countries.png') ;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .container{
    display: flex;
    flex-direction: column;
    min-height: 82vh;
    max-height: 100vh;
    position: relative;
  }
  
  .containerFilter{
    
    min-width: 15rem;
    max-width: 15rem;
    
  }
  
  .FilterAndCard{
    display: flex;
  padding: .5rem;
  gap: 2rem;
  }
  
  .countries{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
  }
  
  .ActivityAlert{
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    padding: 5rem;
  }

  .Paginacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
  }
  
  
  
  
  